.container__nav{
  background: #FBAA00;
  color: #a1a6af;
  font-size: 1.3rem;
  padding: 7px 14px;
  position: relative;
}

.content__nav{
  margin: 0 auto;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  text-align: center;
}

.navBar__active{
  color: black !important;
  font-size: 1.3rem !important;
  background: #fff !important;
  padding: 6px 12px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}

@media (max-width: 520px) {
  .container__links li:nth-child(4){
    display: none;
  }
}
@media (max-width: 400px) {
  .container__links li:nth-child(3){
    display: none;
  }
}
