.header {
    height: 70px;
    /* border-color: #2d2d2d; */
    /* background: #2d2d2d; */
    margin-top: 1%;
}

.header-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    color: #FFA500;
    /* border: 1px solid yellow; */
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    height: 100%;
    width: 100%;
    font-family: Raleway;
    /* border: 1px solid green; */
    font-weight: 800;
    font-size: 18px;
}

.navbar ul {
    height: 100%;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-around;
}

.navbar-card {
    height: 100%;
    display: flex;
    /* border: 1px solid goldenrod; */
    align-items: center;
}

.search-card {
    display: flex;
    align-items: center;
    /* border: 3px solid purple; */
    height: 100%;
}

.search-card form {
    display: flex;
    align-items: center;
    border: 2px solid #FFA500;
    border-radius: 3px;
    background-color: black;
}

.search-card input[type="text"] {
    background-color: black;
    padding: 5px;
    font-size: 14px;
}

.search-card input::placeholder {
    color: #FFA500;
}

.search-card button {
    padding: 10px;
    background: transparent;
}

.navbar-card-signup {
    height: 100%;
    /* border: 1px solid goldenrod; */
    display: flex;
    align-items: center;
}

/* .navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
} */

.navbar-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid red;
}

.navbar-header {
    text-align: center;
    border: 1px solid green;
}

.navbar-collapse {
    border: 1px solid green;
}

.navbar-collapse ul {
    display: flex;
    justify-content: space-around;
}